/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: times, serif;
    text-align: center;
    font-size: 30px;
    background-color: #000000;
}

/* structure */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
  margin-bottom: 3em;
  max-width: 100%;
  width: 100%;
}

/* typography */

h1 {
  font-family: "altivo", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 11vw;
  font-weight: normal;
  margin-top: 100px;
  color: rgb(166, 166, 152);
}
.color {
  background-color: rgb(166, 166, 152);
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.color:hover {
  cursor: pointer;
  background: linear-gradient(270deg, rgb(0, 0, 0), #000000);
  background-size: 1000% 1000%;
  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

h4 {
  font-family: "altivo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3vw;
  font-weight: normal;
  margin-top: 30px;
  color: rgb(128, 128, 116);
}

/* puntutations */

.Punctuation {
  font-family: "altivo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1vw;
  font-weight: normal;
  margin-top: 30px;
  letter-spacing: 10px;
  color: rgb(78, 78, 78);
}