body {
  margin: 5% 10% 0% 10%;
  padding: 0;
  font-family: Arial, sans-serif; /* Change the font family as needed */
}

.container {
  max-height: 60%; /* Maintain the max-height */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

.main-heading {
  font-family: "sutro-open-initials", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw; /* Responsive font size based on viewport width */
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
  word-spacing: -0.5vw; /* Responsive word spacing based on viewport width */
  line-height: 1;
  margin: 10px;
}

.main-heading span {
  color: rgb(0, 0, 0);
}

#p:hover {
  color: rgba(0, 127, 255);
}

#u:hover {
  color: rgb(255, 0, 0); /* Cyan */
}

#n:hover {
  color: rgb(128, 0, 128); /* Purple */
}

#c:hover {
  color: rgb(255, 215, 0); /* Gold */
}

#t:hover {
  color: rgb(0, 0, 255); /* Blue */
}

#u2:hover {
  color: rgb(255, 165, 0); /* Orange */
}

#a:hover {
  color: rgb(255, 0, 0); /* Black */
}

#t2:hover {
  color: rgb(34, 139, 34); /* Forest Green */
}

#i:hover {
  color: rgb(255, 20, 147); /* Deep Pink */
}

#o:hover {
  color: rgb(255, 192, 203); /* Pink */
}

#n2:hover {
  color: rgb(139, 0, 139); /* Dark Magenta */
}

.section-heading {
  font-family: "sutro", serif;
  font-weight: 300;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 2vw; /* Responsive font size based on viewport width */
  text-align: center;
  margin: 10px 0 3 0; /* Adjust margin as needed */
}

.em {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 2.5vw; /* Responsive font size based on viewport width */
  color: rgb(239, 239, 239);
  text-align: left;
  margin: 0;
}

/* Buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 10px;
  margin: 20px auto;
  max-width: 800px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b30000;
}

/* Selected Button*/

#btn2 {
  padding: 10px 20px;
    color: rgb(255, 36, 153);
  filter: drop-shadow(0 0 2px rgba(255, 36, 193, 0.7))
    drop-shadow(0 0 5px rgba(255, 36, 109, 0.7))
    drop-shadow(0 0 15px rgba(255, 36, 138, 0.7));
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn2:hover {
  background-color: #b30000;
}

/* Button 12 Home button */

#btn12 {
  background-color: rgb(187, 187, 187);
  border-radius: 5px;
  border: 1px solid #a2a2a2; /* Add border width, style, and color */
  color: #000000;
}

#btn12:hover {
  background-color: #525252;
}



/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .buttons {
    grid-template-columns: repeat(4, 4fr);
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 1%; /* Adjust font size for smaller screens */
    word-spacing: -1vw; /* Adjust word spacing for smaller screens */
  }
  
  .section-heading {
    font-size: 2vw; /* Adjust font size for smaller screens */
  }
  
  .em {
    font-size: 1vw; /* Adjust font size for smaller screens */
  }
}