/* General Styles */

html {
    background-color: rgb(25, 0, 255);
    color: aliceblue;
}

h1,h2,p{
    margin: 0;
}

body {
    max-width: 600px;
    margin: auto; /*centerlize overall texts*/
}

/* Main Heather */
.MainHeader {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

/* Media Elements */

img, video, audio, object {
    width: 100%;
    margin-top: 10px;
}

object {
    aspect-ratio: 4/3;
}

/* Parts */
.Part {
    background-color: rgb(99, 99, 99);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: 50px 0px 50px 0px;
}

#PartOne {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

/* #PartFive {
    background-color: black;
    color: rgb(255, 0, 0);
} */

[data-part="5"] {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}


/* Nav */

/* a tag - 내부 내용
} */

.Nav {
    position: fixed;
    top: 10px;
    left: 10px;
}

.Nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Nav-item {
    display: inline-block;
    background: rgb(155, 155, 155);
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}