@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body {
	background-color: #24262d;
	margin: 0;
	overflow: hidden;
}

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#waves {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	pointer-events: none;
}

#waves > svg {
	position: absolute;
	bottom: 0;
	opacity: 0.5;
}

#waves > svg:nth-child(1) {
	animation: expand 12s infinite ease-in-out;
}

#waves > svg:nth-child(2) {
	animation: expand 16s infinite ease-in;
}

#waves > svg:nth-child(3) {
	animation: expand 19s infinite ease-out;
}

@keyframes expand {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(3);
	}
	100% {
		transform: scaleX(1);
	}
}

