body {
  margin: 5% 10% 0% 10%;
  padding: 0;
  font-family: Arial, sans-serif; /* Change the font family as needed */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}



.main-heading {
  font-family: "sutro-open-initials", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw; /* Responsive font size based on viewport width */
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
  word-spacing: -0.5vw; /* Responsive word spacing based on viewport width */
  line-height: 1;
  margin: 10px;
}

.main-heading span {
  color: rgb(0, 0, 0);
}

#p:hover {
  color: red;
}

#u:hover {
  color: rgb(0, 255, 255); /* Cyan */
}

#n:hover {
  color: rgb(128, 0, 128); /* Purple */
}

#c:hover {
  color: rgb(255, 215, 0); /* Gold */
}

#t:hover {
  color: rgb(0, 0, 255); /* Blue */
}

#u2:hover {
  color: rgb(34, 139, 34); /* Forest Green */
}

#a:hover {
  color: rgb(255, 0, 0); /* Black */
}

#t2:hover {
  color: rgb(255, 165, 0); /* Orange */
}

#i:hover {
  color: rgb(255, 20, 147); /* Deep Pink */
}

#o:hover {
  color: rgb(255, 192, 203); /* Pink */
}

#n2:hover {
  color: rgb(139, 0, 139); /* Dark Magenta */
}

.section-heading {
  font-family: "sutro", serif;
  font-weight: 300;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 2vw; /* Responsive font size based on viewport width */
  text-align: center;
  margin: 40px 0; /* Adjust margin as needed */
}

.em {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 2.5vw; /* Responsive font size based on viewport width */
  color: rgb(239, 239, 239);
  text-align: left;
  margin: 0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 1%; /* Adjust font size for smaller screens */
    word-spacing: -1vw; /* Adjust word spacing for smaller screens */
  }
  
  .section-heading {
    font-size: 2vw; /* Adjust font size for smaller screens */
  }
  
  .em {
    font-size: 1vw; /* Adjust font size for smaller screens */
  }
}